// new for 2.4.7 <-- please don't change or delete this line

// do version check for fhem.js after every defined interval
// the result of this check is written to the log and emitted with tag "version" to all connected clients
exports.doCheckVersion = true;
exports.checkVersionInterval = 12;  // in hours

// filter out device values that containing following tag:
exports.filterOutTags = ['deviceMsg:', 'pct:', 'level:', 'timedOn:', 'desired-temp:'];
